.buttontrainer
{background-color: white;color: black;height: 5%;width: 13,7%;cursor: pointer;font-size: medium; cursor: pointer;}

.top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  .top:hover {
    box-shadow: 0 5px 50px 0 white;
    border-radius: 10px;
  }

.transparent
{
    background: none
}
.vid
{
    object-fit: inherit;
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
}
.form-control
{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
}
.form-control::placeholder
{
    color: #CCCCCC;
}
.form-control:focus {

    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    outline: 0;
    box-shadow: 0 0 15px 0 rgb(37, 193, 255);

}

.trainer-card{
    box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    background-color: transparent;
    transition: ease 0.3s;
}
.trainer-card:hover {
    box-shadow: 0 0 15px 0 rgb(37, 193, 255);
    cursor: pointer;
}

.bg-darker {
    background-image: url(wallpaper.jpg);
}
.modal-body {
    background-color: #24272b;
    padding-bottom: 2rem;
}
.modal-footer
{
    background-color: #212529;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.modal-header
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.close
{
    color: #fff;
}
.modal-content
{
    color: white;
}
.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 8px;
    transform: translateY(50%);
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
}
input:checked + .slider:before {
    transform: translateX(30px);
    background: rgba(44, 128, 255, 0.925);
}

input:checked + .slider {
    box-shadow: 0 0 0 2px rgba(44, 128, 255, 0.925), 0 0 2px rgba(44, 128, 255, 0.925);
}
.btn
{
    white-space: pre;
}
#credits-dialog-size
{
 max-width: 670px;
}
.h5, h5
{
    font-size: 1.1rem;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2196F3; 
  }
/* Scrollbar */